.userPhoto {
    width: 200px;
    height: 200px;
}
.currentPage {
    font-weight: bold;
    text-decoration: underline;
    color: white;
}
.userPages {
    padding: 0 2px;
    cursor: pointer;
}
.wrapperPages {
    display: flex;
    flex-wrap: wrap;
    width: 1600px;
}
