.userPhoto {
    width: 200px;
    height: 200px;
}
.userPages.currentPage {
   text-decoration: underline;
    font-weight: bold;
    color: white;
}
.userPages {
    padding: 1px 3px;
    margin: 0 10px;
    cursor: pointer;
    color: white;
    width: 27px;
    text-align: center;
}
.wrapperPages {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0;
}
