.header{
    display: flex;
    width: 595%;
    justify-content: space-between;
}
.header img {
    width: 20px;
    height: 20px;
}
.authWrapper {
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.authWrapper a {
    color: orange;
}
.authWrapperLoginBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 70px;
}