.header img {
    width: 40px;
    height: 40px;
}
.authWrapper {
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    float:right;
}

.authWrapper a {
    color: orange;
}
.authWrapperLoginBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    width: 70px;
}