body {
  margin: 0 auto;
  margin-right: calc(-1 * (100vw - 100%));
}
.app-wrapper {
  display: grid;

  grid-template-areas:
  'header header'
  'n content';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  width: 100%;
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;

}
a{
  text-decoration: none;
  color: white;
}
.app-wrapper-content {
  grid-area: content;
  background-color: #61dafb;
}
.app-wrapper-content img{
  max-width: 100%;
}
header{
  grid-area:header;
  background-color: darkturquoise;
}

