body {
  margin: 0 auto;
}
.app-wrapper {
  display: grid;
  min-width: 1200px;

  grid-template-areas:
  'header header'
  'n content';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  /*grid-gap: 10px;*/
}
a{
  text-decoration: none;
  color: white;
}
.app-wrapper-content {
  grid-area: content;
  background-color: #61dafb;
}
.app-wrapper-content img{
  max-width: 100%;
}


