body {
  margin: 0 auto;
  overflow-x:hidden;
}
.app-wrapper {
  display: grid;
  min-width: 1200px;

  grid-template-areas:
  'header header'
  'n content';

  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
a{
  text-decoration: none;
  color: white;
}
.app-wrapper-content {
  grid-area: content;
  background-color: #61dafb;
}
.app-wrapper-content img{
  max-width: 100%;
}
header{
  grid-area:header ;
}

